  <!-- content @s -->
  <div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="content-page wide-md m-auto">
                    <div class="nk-block-head nk-block-head-lg wide-xs mx-auto">
                        <div class="nk-block-head-content text-center">
                            <h2 class="nk-block-title page-title">Add Retailer</h2>
                            <!-- <div class="nk-block-des">
                                <p class="lead">We love to share ideas! Visit our blog if you're looking for great articles or inspiration to get you going.</p>
                            </div> -->
                        </div>
                    </div><!-- .nk-block-head -->
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-xl">
                              <div>
                                <div>
                                    <div class="modal-content">
                                        <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                                        <div class="modal-body modal-body-md">
                                            <!-- <h5 class="modal-title">/h5> -->
                                            <form action="#" class="mt-4">
                                                <div class="row g-gs">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="editName">Retailer Name</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="editName" placeholder="Name">
                                                            </div>
                                                        </div>
                                                    </div><!-- .col -->

                                                    <div class="col-md-6">
                                                      <div class="form-group">
                                                          <label class="form-label" for="editName">Phone Number</label>
                                                          <div class="form-control-wrap">
                                                              <input type="text" class="form-control" id="editName" placeholder="Phone Number" >
                                                          </div>
                                                      </div>
                                                  </div><!-- .col -->

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="editMobile">State</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="editMobile" placeholder="State">
                                                            </div>
                                                        </div>
                                                    </div><!-- .col -->

                                                    <div class="col-md-6">
                                                      <div class="form-group">
                                                          <label class="form-label" for="editName">LGA</label>
                                                          <div class="form-control-wrap">
                                                              <input type="text" class="form-control" id="editName" placeholder="LGA" >
                                                          </div>
                                                      </div>
                                                  </div><!-- .col -->

                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="editName">Address</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="editName" placeholder="Address" >
                                                        </div>
                                                    </div>
                                                </div><!-- .col -->

                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="form-label" for="editName">Geo Location</label>
                                                      <div class="form-control-wrap">
                                                          <input type="text" class="form-control" id="editName" placeholder="Geo Location">
                                                      </div>
                                                  </div>
                                              </div><!-- .col -->



                                                    <div class="col-12">
                                                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                                            <li>
                                                                <button data-bs-dismiss="modal" class="btn btn-primary">Save</button>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="link link-light" data-bs-dismiss="modal">Cancel</a>
                                                            </li>
                                                        </ul>
                                                    </div><!-- .col -->
                                                </div>
                                            </form>
                                        </div><!-- .modal-body -->
                                    </div><!-- .modal-content -->
                                </div><!-- .modal-dialog -->
                            </div>

                            </div>
                        </div>
                    </div><!-- .nk-block -->
                </div><!-- .content-page -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
