  <!-- content @s -->
  <div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Dashboard</h3>
                            <div class="nk-block-des text-soft">
                                <p>Nakore Dashboard</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-bs-toggle="dropdown"><em class="d-none d-sm-inline icon ni ni-calender-date"></em><span><span class="d-none d-md-inline">Last</span> 30 Days</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><span>Last 30 Days</span></a></li>
                                                        <li><a href="#"><span>Last 6 Months</span></a></li>
                                                        <li><a href="#"><span>Last 1 Years</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nk-block-tools-opt"><a href="#" class="btn btn-primary"><em class="icon ni ni-reports"></em><span>Reports</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">Farmers </h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">{{farmerLength}}</div>
                                                <div class="nk-ecwg6-ck">
                                                    <canvas class="ecommerce-line-chart-s3" id="ipdIncome"></canvas>
                                                </div>
                                            </div>
                                            <div class="info"><span class="change up text-danger"><em class="icon ni ni-arrow-long-up"></em>4.63%</span><span> vs. last week</span></div>
                                        </div>
                                    </div><!-- .card-inner -->
                                </div><!-- .nk-ecwg -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">Products</h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">{{productLength}}</div>
                                                <div class="nk-ecwg6-ck">
                                                    <canvas class="ecommerce-line-chart-s3" id="opdIncome"></canvas>
                                                </div>
                                            </div>
                                            <div class="info"><span class="change down text-danger"><em class="icon ni ni-arrow-long-down"></em>2.34%</span><span> vs. last week</span></div>
                                        </div>
                                    </div><!-- .card-inner -->
                                </div><!-- .nk-ecwg -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title ">
                                                <h6 class="title">Product Purchased</h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">$0</div>
                                                <div class="nk-ecwg6-ck">
                                                    <canvas class="ecommerce-line-chart-s3" id="labIncome"></canvas>
                                                </div>
                                            </div>
                                            <div class="info"><span class="change up text-danger"><em class="icon ni ni-arrow-long-up"></em>0%</span><span> vs. last week</span></div>
                                        </div>
                                    </div><!-- .card-inner -->
                                </div><!-- .nk-ecwg -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">Orders</h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">0</div>
                                                <div class="nk-ecwg6-ck">
                                                    <canvas class="ecommerce-line-chart-s3" id="todayExpense"></canvas>
                                                </div>
                                            </div>
                                            <div class="info"><span class="change up text-primary"><em class="icon ni ni-arrow-long-up"></em>0%</span><span> vs. last week</span></div>
                                        </div>
                                    </div><!-- .card-inner -->
                                </div><!-- .nk-ecwg -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-md-6 col-xxl-3">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="card-title-group mb-2">
                                        <div class="card-title">
                                            <h6 class="title">Farmer Statistics</h6>
                                        </div>
                                    </div>
                                    <ul class="nk-store-statistics">
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Todays'Orders</div>
                                                <div class="count">0.00</div>
                                            </div>
                                            <em class="icon ni bg-blue-dim ni-list-index-fill"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Farmers</div>
                                                <div class="count">0.00</div>
                                            </div>
                                            <em class="icon bg-primary-dim ni ni-plus-medi"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Retailers</div>
                                                <div class="count">0.00</div>
                                            </div>
                                            <em class="icon bg-info-dim ni ni-users"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Locations</div>
                                                <div class="count">0.00</div>
                                            </div>
                                            <em class="icon bg-pink-dim ni ni ni-plus-fill-c"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Transaction</div>
                                                <div class="count">0.00</div>
                                            </div>
                                            <em class="icon bg-purple-dim ni ni-network"></em>
                                        </li>
                                    </ul>
                                </div><!-- .card-inner -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-md-6 col-xxl-3">
                            <div class="card card-bordered h-100">
                                <div class="card-inner">
                                    <div class="card-title-group align-start pb-3 g-2">
                                        <div class="card-title">
                                            <h6 class="title">Total Revenue</h6>
                                            <p>In 30 days income.</p>
                                        </div>
                                        <div class="card-tools">
                                            <em class="card-hint icon ni ni-help" data-bs-toggle="tooltip" data-bs-placement="left" title="Revenue of this month"></em>
                                        </div>
                                    </div>
                                    <div class="analytic-au">
                                        <div class="analytic-data-group analytic-au-group g-3">
                                            <div class="analytic-data analytic-au-data">
                                                <div class="title">Monthly</div>
                                                <div class="amount">0.00K</div>
                                                <div class="change up"><em class="icon ni ni-arrow-long-up"></em>0.00%</div>
                                            </div>
                                            <div class="analytic-data analytic-au-data">
                                                <div class="title">Weekly</div>
                                                <div class="amount">0.00K</div>
                                                <div class="change down"><em class="icon ni ni-arrow-long-down"></em>0.00%</div>
                                            </div>
                                            <div class="analytic-data analytic-au-data">
                                                <div class="title">Daily (Avg)</div>
                                                <div class="amount">0.00K</div>
                                                <div class="change up"><em class="icon ni ni-arrow-long-up"></em>0.00%</div>
                                            </div>
                                        </div>
                                        <div class="analytic-au-ck">
                                            <canvas class="analytics-au-chart" id="analyticAuData"></canvas>
                                        </div>
                                        <div class="chart-label-group">
                                            <div class="chart-label">01 March, 2022</div>
                                            <div class="chart-label">31 March, 2022</div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-lg-8 col-xxl-6">
                            <div class="card card-bordered h-100">
                                <div class="card-inner">
                                    <div class="card-title-group pb-3 g-2">
                                        <div class="card-title">
                                            <h6 class="title">Income vs Expenses</h6>
                                            <p>Last 30 days Income vs Expenses Statistics.</p>
                                        </div>
                                        <div class="card-tools shrink-0 d-none d-sm-block">
                                            <ul class="nav nav-switch-s2 nav-tabs bg-white">
                                                <li class="nav-item"><a href="#" class="nav-link">7 D</a></li>
                                                <li class="nav-item"><a href="#" class="nav-link active">1 M</a></li>
                                                <li class="nav-item"><a href="#" class="nav-link">3 M</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="analytic-ov">
                                        <div class="analytic-data-group analytic-ov-group g-3">
                                            <div class="analytic-data analytic-ov-data">
                                                <div class="title">Month</div>
                                                <div class="amount">0.00K</div>
                                                <div class="change up"><em class="icon ni ni-arrow-long-up"></em>0.00%</div>
                                            </div>
                                            <div class="analytic-data analytic-ov-data">
                                                <div class="title">Week</div>
                                                <div class="amount">0.00K</div>
                                                <div class="change up"><em class="icon ni ni-arrow-long-up"></em>0.00%</div>
                                            </div>
                                            <div class="analytic-data analytic-ov-data">
                                                <div class="title">Month</div>
                                                <div class="amount">0.00K</div>
                                                <div class="change up"><em class="icon ni ni-arrow-long-up"></em>0.00%</div>
                                            </div>
                                            <div class="analytic-data analytic-ov-data">
                                                <div class="title">Week</div>
                                                <div class="amount">0.00K</div>
                                                <div class="change down"><em class="icon ni ni-arrow-long-down"></em>0.00%</div>
                                            </div>
                                        </div>
                                        <div class="analytic-ov-ck">
                                            <canvas class="analytics-line-large" id="analyticOvData"></canvas>
                                        </div>
                                        <div class="chart-label-group ms-5">
                                            <div class="chart-label">01 Mar, 2022</div>
                                            <div class="chart-label d-none d-sm-block">15 Mar, 2022</div>
                                            <div class="chart-label">30 Mar, 2022</div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-md-6 col-lg-4 col-xxl-4">
                            <div class="card card-bordered card-full">
                                <div class="card-inner-group">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">New Product</h6>
                                            </div>
                                            <div class="card-tools">
                                                <a href="#" class="link">View All</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-inner card-inner-md">
                                        <div class="user-card" *ngFor="let product of productsList">
                                            <div class="user-avatar bg-primary-dim">
                                                <span>NP</span>
                                            </div>
                                            <div class="user-info">
                                                <span class="lead-text">{{product.title}}</span>
                                                <span class="sub-text">{{product.price}}</span>
                                            </div>
                                            <div class="user-action">
                                                <div class="drodown">
                                                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger me-n1" data-bs-toggle="dropdown" aria-expanded="false"><em class="icon ni ni-more-h"></em></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <ul class="link-list-opt no-bdr">
                                                            <li><a href="#"><em class="icon ni ni-setting"></em><span>Action Settings</span></a></li>
                                                            <li><a href="#"><em class="icon ni ni-notify"></em><span>Push Notification</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-md-6 col-xxl-4">
                            <div class="card card-bordered h-100">
                                <div class="card-inner border-bottom">
                                    <div class="card-title-group">
                                        <div class="card-title">
                                            <h6 class="title">New Farmers</h6>
                                        </div>
                                        <div class="card-tools">
                                            <a href="#" class="link">View All</a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nk-support" *ngFor="let farmers of farmersList">
                                    <li class="nk-support-item">
                                        <div class="user-avatar">
                                            <img src="./images/avatar/a-sm.jpg" alt="">
                                        </div>
                                        <div class="nk-support-content">
                                            <div class="title">
                                                <span>{{farmers.first_name}}</span><span class="badge badge-dot badge-dot-xs bg-warning ms-1">Pending</span>
                                            </div>
                                            <p>Thanks for contact us with your issues...</p>
                                            <span class="time">6 min ago</span>
                                        </div>
                                    </li>


                                </ul>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-md-6 col-xxl-4">
                            <div class="card card-bordered h-100">
                                <div class="card-inner border-bottom">
                                    <div class="card-title-group">
                                        <div class="card-title">
                                            <h6 class="title">Product Purchase</h6>
                                        </div>
                                        <div class="card-tools">
                                            <a href="#" class="link">View All</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-inner">
                                    <div class="timeline" *ngFor="let orders of orderList">
                                      <div *ngIf="orders.status==='Completed' ">
                                        <h6 class="timeline-head">{{orders.order_date}}</h6>
                                        <ul class="timeline-list">
                                            <li class="timeline-item">
                                                <div class="timeline-status bg-primary is-outline"></div>
                                                <div class="timeline-date">{{ orders.farmers_name}}</div>
                                                <div class="timeline-data">
                                                    <h6 class="timeline-title">{{ orders.product_name}}</h6>
                                                    <div class="timeline-des">
                                                        <p>{{orders.address}}</p>
                                                        <span style="color: brown;" class="time">{{orders.status}}</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
